
*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg
*.xml
*.html

*.runs/
*.cache/
*.ip_user_files/
*.hw/
*.sim/
*.gen/
*.xpr
*.xsa


*.vcd
*.vpd
*.fst

*.dcp
*.edf
*.ngc
*.bit
*.bin

*.tmp
*.bak
*.swp
*.swo
*~


.DS_Store
Thumbs.db

.vscode/
.idea/


backup/
temp/
